body {
	margin: 0px;
	display: grid;
	grid-template-columns: 70px auto;
	grid-template-rows: 100%;
}

.sidebar {
	display: flex;
	flex-direction: column;
	background-color: #555;
	align-items: center;
	min-height: 100vh;
}

.sidebar img {
	width: 32px;
	margin: 10px;
}

.content {
	display: flex;
	align-items: center;
	flex-direction: column;
}